// Custom website colors

$danger: #a82a24;
$light: #f1f4f7;
$secondary: #99c1c3;
$primary: #6074ab;
$dark: #2a3450;

// Import everything from bootstrap

@import '../node_modules/bootstrap/scss/bootstrap';

// TODO: Add imports only for parts that you need
